server {
    listen 80;
    server_name localhost;

    location / {
        root /usr/share/nginx/html;
        index index.html;
        try_files $uri $uri/ /index.html;
    }

    location /api/proxmox/ {
        # proxy_ssl_verify off is needed if your proxmox uses a self-signed cert
        proxy_pass ${PROXMOX_BACKEND_URL}/api2/json/;
        proxy_ssl_verify off;
        proxy_set_header Host $host;
    }

    location /api/portainer/ {
        proxy_pass ${PORTAINER_BACKEND_URL}/;
        proxy_ssl_verify off;
        proxy_set_header Host $host;
    }

    location /api/uptime/ {
        proxy_pass ${UPTIME_KUMA_BACKEND_URL}/;
        proxy_set_header Host $host;
        # Support websockets for uptime kuma
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
    }

    location /api/jellyfin/ {
        proxy_pass ${JELLYFIN_BACKEND_URL}/;
        proxy_ssl_server_name on;
    }

    location /api/tailscale/ {
        proxy_pass ${TAILSCALE_BACKEND_URL}/;
        proxy_ssl_server_name on;
    }

    location /api/todoist/ {
        proxy_pass ${TODOIST_BACKEND_URL}/;
        proxy_ssl_server_name on;
    }

    location /api/qbit/ {
        proxy_pass ${QBITTORRENT_BACKEND_URL}/;
        proxy_set_header Host $host;
        proxy_set_header Origin ${QBITTORRENT_BACKEND_URL};
        proxy_set_header Referer ${QBITTORRENT_BACKEND_URL}/;
    }

    location /api/radarr/ {
        proxy_pass ${RADARR_BACKEND_URL}/;
        proxy_set_header Host $host;
    }

    location /api/sonarr/ {
        proxy_pass ${SONARR_BACKEND_URL}/;
        proxy_set_header Host $host;
    }

    location /api/jellyseerr/ {
        proxy_pass ${JELLYSEERR_BACKEND_URL}/;
        proxy_set_header Host $host;
    }

    location /api/updates/ {
        proxy_pass ${UPDATES_BACKEND_URL}/;
        proxy_set_header Host $host;
    }
}
